@import '../../../css-configration/mixins.scss';
.Banner_container{
    width: 100%;
    height: 100%;

}

.banner_img_section{



  

    .banner-image{
        // position: relative;
        height: 100%;
        width: 100%;
    } 
    
    @include sm{
        width:100%;
        height:100%;
        .banner-image{
            // width: 100px;
            height: 350px;
        }
    }
}