@import '../../css-configration/mixins.scss';

.hero_section{
    width: 100%;
    height: 350px;
    background-color: rebeccapurple;
    @include sm{
    height:200px;
        
    }
}

.Banner_section{
    position: relative;
    width: 100%;
    // background-color: #33a83f;
    height: 100%;
}