@import "./css-configration/mixins.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
 --red:red;
 --blue:blue;
--parentFont:1.1rem Arial, sans-serif ;
--childFont:0.9rem;
--slowTransition:1s ease;
--parentFontColor:rgb(41, 38, 38) ;
 --iconColor:rgb(33, 26, 136);
 --heading-font: 20px bold Arial, sans-serif ;
 --sub-heading-font:15px bold Arial, sans-serif;
}

.heading{
  font-size: var(--heading-font);
}
.sub-heading{
  font-size: var(--sub-heading-font);
}


body {
  /* background-color: #222; */
}
/* #preloader {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2000;
    background-color: #201e1e64;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
} */